@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container{ 
    flex-direction: column;
    
}
.Suggestions{
    display: flex;
    height: 25px;
    justify-content: center;
    margin-top: 2%;
}

#sgst{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#sgst-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
    outline: 1px solid #4D4D4B;
    border-radius: 100px;
    padding: 0 0.5% 0;
}

.filters{
    display: flex;
    height: 25px;
    justify-content: center;
    justify-content: space-between;
    margin: 5% 4% 5%;
}

#filter-btn{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    height: 35px;
    padding: 0 1% 0;
    transition: background-color 0.1s;
    cursor: pointer;
}

#filter-btn:hover{
    background-color: #EFDFB1;
}